
<div>
    <article>
        
        <h2>ADs 3D formats</h2>
        <p>Banner design with ThreeJS and modeling created with Blender</p>

        <div>
            <!-- <video id="video-vertical" src="../img/3d.mp4" loop autoplay muted playsinline webkit-playsinline></video> -->
            <iframe width="300" height="600" src="../html/3d-oreo.html" scrolling="false" frameborder="0"></iframe>
            <iframe width="300" height="600" src="../html/3d-chookies.html" scrolling="false" frameborder="0"></iframe>
            <iframe width="320" height="480" src="../html/3d-dvino.html" scrolling="false" frameborder="0"></iframe>
        </div>

    </article>

    <article>
        <h2>3D Modeling</h2>
        <p>Models created on 3ds Max, Blender and some used on Unity</p>

        <div>
            <img src="../img/3d-collar.webp" alt="">
            <img src="../img/3d-cuchillo.webp" alt="">
            <img src="../img/3d-personajes.webp" alt="">
            <img src="../img/3d-render.webp" alt="">
        </div>

    </article>
</div>