<h2>Mix of designs between Ads formats and social media</h2>
<div>
    <article>

        <h2>Ads formats Rich Media interactive</h2>
        <p>Banner design with ThreeJS and modeling created with Blender</p>

        <div>
            <!-- <video id="video-vertical" src="../img/3d.mp4" loop autoplay muted playsinline webkit-playsinline></video> -->
            <iframe width="300" height="600" src="html/rich-porsche.html" scrolling="false" frameborder="0"></iframe>

        </div>

    </article>


    <!--  -->

    <article>

        <h2>Graphic Design Ilustrations</h2>
        <p>Mixed social media art and Ilustrations</p>

        <div>
            <!-- <video id="video-vertical" src="../img/3d.mp4" loop autoplay muted playsinline webkit-playsinline></video> -->
            <img src="img/design-ilustracion.png" alt="">
            <img src="img/design-ilustracion2.gif" alt="">
            <img src="img/design-ilustracion3.webp" alt="">
            <img src="img/design-ilustracion4.webp" alt="">
        </div>

    </article>

        <article>

        <h2>Graphic Design Corporative</h2>
        <p>Corporative design for enterprises</p>

        <div>
            <!-- <video id="video-vertical" src="../img/3d.mp4" loop autoplay muted playsinline webkit-playsinline></video> -->
            <img src="img/design-banner1.png" alt="">
            <img src="img/design-banner2.png" alt="">
            <img src="img/design-banner3.png" alt="">
        </div>

    </article>
</div>