
<div>
    <article>
        
        <h2>Rocket Sky</h2>
        <p>Android-oriented video game, competitive "Endless Game" type. Developed in Unity 2D</p>

        <div>
            <video id="video-vertical" src="../img/rocket.mp4" loop autoplay muted playsinline webkit-playsinline></video>
        </div>

    </article>

        <article>
        
        <h2>ABS Adventure</h2>
        <p>2D Game developed on Unity for Android, with platforms, skins, and boss mechanics</p>

        <div>
            <img src="../img/game-abs1.png" alt="">
            <img src="../img/game-abs2.png" alt="">
            <img src="../img/game-abs3.png" alt="">
            <img src="../img/game-abs4.png" alt="">
            <img src="../img/game-abs5.png" alt="">
            <img src="../img/game-abs6.png" alt="">
        </div>

    </article>
</div>